# Dependency directories
node_modules/

# Python environment
.venv/
venv/
__pycache__/
*.py[cod]

# Database
*.db

# Tailwind output
./static/css/dist.css

#environment variables
.env
pyproject.toml
.python-version
uv.lock
snippets.txt
